@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,100;0,200;0,400;0,500;1,100;1,400&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

nav {
  height: 12vh;
  z-index: 100;
  position: fixed;
}

.yay-hh {
  position: fixed;
  z-index: 100000;
  width: 100%;
  top: 0;
  height: 12vh;
  background-color: #e9f8fb;
  transition: all 0.6s ease-in-out;
}

.yay-hh.sticky {
  z-index: 1000;
  background-color: rgb(53, 47, 66);
}

.yay-hh.sticky ul li a {
  color: white;
  transition: all 0.3s ease-in-out;
}

nav .container-fluid {
  position: fixed;
  margin: 0px 110px 0;
  transition: all 0.3s ease-in-out;
}

.container-fluid.sticky {
  padding: 40px;
}

#navbarNav {
  margin: 0 20px;
}

#navbarNav.sticky ul li a {
  color: white;
}

#navbarNav ul li {
  margin: 2px 1rem;
}

#navbarNav ul li a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 180%;
  color: rgba(18, 17, 39, 0.72);
  flex: none;
  order: 2;
  flex-grow: 0;
  transition: all 0.2s ease-in-out;
}

#navbarNav ul li a:hover {
  color: black;
}

#navbarNav.sticky ul li a:hover {
  color: rgb(103, 118, 119);
}

.container-fluid button {
  right: 0;
}

.yay-hh.sticky ul li a:hover {
  color: #45f3ff;
}

.nav-list {
  position: relative;
  right: 175px;
  align-items: center;
}

.nav-list li {
  margin: 0 1.5rem;
  list-style: none;
}

.nav-list li a {
  color: rgba(18, 17, 39, 0.72);
  text-decoration: none;
  font-family: "Raleway";
  font-style: normal;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}

.nav-list li a {
  transition: all 0.2s ease-in-out;
}

.nav-list li:hover a {
  transform: scale(1.06);
  color: black;
}
.nav-list .search-box {
  position: relative;
  height: 60px;
  top: 4px;
  width: 60px;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.search-box.active {
  width: 300px;
}

.search-box input {
  height: 100%;
  opacity: 0;
  border: none;
  width: 100%;
  background-color: #fff;
  font-size: 18px;
  outline: none;
  border-radius: 50px;
  padding: 0 60px 0 20px;
}

.search-box input.active {
  opacity: 1;
}

.search-box .search-btn {
  height: 50px;
  width: 50px;
  color: #fff;
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  line-height: 50px;
  z-index: 1;
  text-align: center;
  font-size: 20px;
  border-radius: 50px;
  background-color: black;
  cursor: pointer;
}

.search-box .search-btn.active {
  height: 50px;
  width: 50px;
  color: #fff;
  background-color: black;
  line-height: 50px;
  font-size: 20px;
  transform: translateY(-50%) rotate(360deg);
}

.search-box .cancel-btn {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  color: black;
  font-size: 25px;
  cursor: pointer;
  transition: all 0.3s 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.cancel-btn.sticky {
  color: white;
}

.search-box .cancel-btn.active {
  right: -28px;
  transform: translateY(-50%) rotate(360deg);
}

#promo {
  margin-top: 8%;
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 28px;
}

#promo .row:nth-child(2) .col {
  margin: 0 -20px;
}

#promo .row:nth-child(3) .col {
  margin: 0 -20px;
}

#promo .mey {
  background-color: #e8f7fe;
  height: 7vh;
  align-items: center;
  display: flex;
  list-style: none;
}

#promo .mey li {
  margin: 0 0.3rem;
}

#promo .mey li a {
  text-decoration: none;
  float: left;
  font-size: 12px;
  font-style: italic;
  color: #505050;
  line-height: 18px;
}

#promo .row:nth-child(5) .col img {
  -webkit-transition: 0.4s ease;
  transition: 0.2s ease;
  cursor: pointer;
}

#promo .row:nth-child(5) .col:hover img {
  transform: translateY(-5%);
}

#promo .row:nth-child(6) .col img {
  -webkit-transition: 0.4s ease;
  transition: 0.2s ease;
  cursor: pointer;
}

#promo .row:nth-child(6) .col:hover img {
  transform: translateY(-5%);
}

#promo .row:nth-child(2) img {
  cursor: pointer;
}

#promo .row:nth-child(3) img {
  cursor: pointer;
}

p:nth-child(1) {
  text-decoration: none;
  float: left;
  font-size: 12px;
  font-style: italic;
  color: #505050;
  line-height: 18px;
  top: 7px;
  position: relative;
}

p:nth-child(2) {
  width: 200px;
  text-align: center;
  font-size: 14px;
  color: #000000;
  text-transform: none;
}

.row:nth-child(5) {
  margin-left: -26px;
}

.row:nth-child(5) .col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row:nth-child(5) h1 {
  font-size: 16px !important;
  color: #000000 !important;
  font-weight: 700;
  white-space: nowrap;
}

#promo .row:nth-child(5) .col {
  margin: 0 0px;
}

.row:nth-child(6) {
  margin-left: -26px;
}

.row:nth-child(6) .col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row:nth-child(6) h1 {
  font-size: 16px !important;
  color: #000000 !important;
  font-weight: 700;
  white-space: nowrap;
}

.footer {
  background-color: #24262b;
  font-family: "Poppins", sans-serif;
  padding: 70px 0;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

/* Promo */

@media screen and (max-width: 992px) {
  #navbarNav {
    background: rgb(92 89 106);
    padding: 0px;
    padding: 3px 7px;
    position: fixed;
    right: 55px;
    border-radius: 30px;
  }

  #navbarNav ul {
    align-items: center;
    width: 100%;
    margin-top: 168%;
    margin-bottom: 20px;
  }

  #navbarNav ul li {
    text-align: center;
    margin-top: 3px;
    width: 112%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #navbarNav ul li:hover {
    background-color: #8c65ba;
  }

  #navbarNav ul li a {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 180%;
    color: white;
    flex: none;
    order: 2;
    flex-grow: 0;
    transition: all 0.2s;
  }
  #navbarNav.sticky ul li a:hover {
    color: white;
  }

  #navbarNav ul li a:hover {
    color: white;
  }

  .nav-list li {
    transition: all 0.3s ease-in-out;
    display: none;
  }

  .navbar-nav li {
    display: flex;
    justify-content: end;
  }
  #header .col:nth-child(2) {
    display: none;
  }

  #header .col:nth-child(1) {
    position: relative;
    top: 328px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  #header .col:nth-child(1) h1 {
    width: 316.46px;
    height: 91.05px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 31px;
    line-height: 120%;
    margin: 0 0 27px;
  }

  #header .col:nth-child(1) p {
    width: 304.46px;
    height: 80.71px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 180%;
    color: rgba(18, 17, 39, 0.56);
  }

  .yay-hh {
    padding: 0;
    margin: 0;
  }

  .navbar .container-fluid {
    padding: 0;
    margin: 40px;
  }

  .container-fluid .nav-list {
    right: 61px;
  }

  nav {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
  }

  .nav-list li {
    margin: 0px 0.9rem;
  }

  #mek {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #header #mek {
    width: 100%;
    display: flex;
  }

  #header #mek button {
    font-size: 10px;
    position: relative;
    left: 33px;
  }

  .search-box {
    display: none;
  }
  .footer-col ul {
    position: relative;
    left: -30px;
  }
}

@media screen and (min-width: 992px) {
  #header #mek {
    width: 100%;
    display: flex;
  }

  #header .col:nth-child(2) img {
    width: 465px;
    height: 654px;
  }
}

@media screen and (min-width: 1200px) {
  #header .row {
    width: 100%;
  }

  #header .col:nth-child(2) img {
    width: 540px;
    height: 654px;
  }

  #header #mek button {
    padding: 12px 23px;
    border-radius: 10px;
    margin: 0 3.2rem 0 -3px;
    font-family: "Poppins";
    border: 2px solid #e2eced;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    text-align: center;
    color: #ffffff;
  }
}

@media screen and (max-width: 509px) {
  #header #mek #button {
    width: 100%;
  }
}
